@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <h1 class="mb-3">Treasury Yield & Deposit Term</h1>

    <h4>Key Features</h4>
    <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item">Pull data on treasury yields</li>
        <li class="list-group-item">Plot the yield curve for your selected date and term</li>
        <li class="list-group-item">Submit an order for a specific deposit term and amount</li>
        <li class="list-group-item">Display your historical order submissions</li>
    </ul>
</div>
