@page "/"

<PageTitle>Home</PageTitle>

<h1>Treasury Yield Project</h1>

<p>Functionalities:</p>
<ul>
    <li>Pull data on treasury yields</li>
    <li>Plot the yield curve back to the user</li>
    <li>Submit an order for a specific term and amount</li>
    <li>View your historical order submissions</li>
</ul>
